/* styles.css */
#discount{
    background-color: #98a88d;
    color: white;
    display: flex;
    justify-content: center;
    top: 0%;
    height: 10%;
    width: 100%;
}

/* MAIN css */
main{
    text-align: center;
}

#line{
    margin-top: 5%;
}

#choose{
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
    margin-top: -1%;
}

.h1-head{
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
    margin-left: -3%;
}

.carousel-item{
    display: flex;
    justify-content: center;
}

.main-crousel{
    height: 10%;
    width: 20%;
}

#carouselExample{
    margin-top: 5%;
}

button span{
    background-color: black;
}

#Details{
    margin-top: 10%;
}

.products{
    width: 75%;
    margin-left: 15%;
    padding: 15px;
    display: flex;
    align-items: center;
}

.about{
    text-align: left;
    height: 10%;
    width: 40%;
    margin-right: 10%;
}

.image{
    height: auto;
    width: 100%;
}

.img-left{
    height: 10%;
    width: 40%;
    margin-right: 10%;
}

.about-right{
    text-align: left;
    height: 10%;
    width: 40%;
    margin-right: 10%;
}

#nack-j{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    margin-top: -2%;
    padding-bottom: 7%;
}

.footer{
    height: 30%;
    background-color: black;
    display: flex;
}

@media (max-width: 600px) {
    #discount{
        font-size: 2vw;
    }
    #EAA{
        display: flex;
        flex-direction: column-reverse;
        width: 90vw;
        justify-content: center;
        margin-right: 10vw;
        margin: auto;
    }
    .about{
        width: 80vw;
        text-align: center;
        margin: auto;
    }
    #Whey{
        width: 90vw;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    #PPP{
        display: flex;
        width: 90vw;
        flex-direction: column-reverse;
        margin: auto;
        gap: 10px;
    }
    #ImBoost{
        display: flex;
        flex-direction: column;
        width: 90vw;
        margin: auto;
    }
    #HCoach{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        background-color: #98a88d;
        width: 90vw;
        margin: auto;
    }
    .image{
        width: 95%;
        margin: auto;
    }
    .img-left{
        width: 95%;
        margin: auto;
    }
    #Pers{
        width: 90vw;
        margin: auto;
    }
    #Pers .about-right{
        width: 100%;
        text-align: center;
    }

}